*{margin:0px;}
#themes,#main,#themess,#mains{display:inline-block;  }
#themes,#themess{ width: 30%;}
#mains,#main{    position: fixed;
    left: 40%;
    top: 2%;
    width: 60%;
    height: 90%;   vertical-align: top;    background: whitesmoke;display:none;}
	#mains:hover{opacity:0.5;}
#mains article,#main article{border:1px solid grey;}
#themes article,#themess article{display:none;}


h3{margin:0px;font-size:18px;cursor:pointer;}
h4{margin:0px;padding-left:30px;font-size:15px;cursor:pointer;}
.actif{color:magenta;}

article.ouvert{width:48%;display:inline-block;vertical-align:top;}
.details{opacity:0.5;font-size:15px;}
.taxo{width:100px;}
.taxo div{cursor:pointer;padding:3px;border:1px solid blue;border-radius:10px;}

.reponses{display:inline-block;}
.reponses input{display:block;}
.reponses .awsm{float:right;}
.awsm{font-family: FontAwesome;text-align:center;font-weight: normal;vertical-align: top;}

#visualisation{padding-left:20px;}


#fdbck{  position: fixed;  top: 50px;  right: -600px;  width: 600px;height:500px;}
.fdbck{ -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);  position: absolute;
  top:29px;
  left: -96px;
  font-size: 20px;
  padding: 5px;cursor:pointer;  background-color: rgb(43, 47, 58);
  color: rgb(255, 242, 0);}
 
.actif .awsm{-ms-transform: rotate(-180deg); 
    -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }  
  