body{padding-bottom:100px;}
*{margin:0px;font-family:Raleway;font-size:13px;}
.awsm{font-family: FontAwesome;text-align:center;font-weight: normal;vertical-align: top;}
#logo{width:56px;cursor:pointer;}

header{background:white;border-radius:5px;box-shadow:1px 1px 5px black;}
	header aside{display:inline-block;    vertical-align: top;margin-left:5px;}
	h3{display:inline-block;}
	h5{    width: 22px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: #EEEEEE;
    border-radius: 26px;
    margin-right: 18px;
    padding: 5px 0px;}
	
	h5 .awsm{color:red;}

		.hiver{background: #17B2D7;}
		.ptps{background: #89C43B;}
		.ete{background:#FDFE66;}
		.automn{background: #980231;}
	.trisemis{color:#3EF53E; text-shadow: 0px 0px 10px black;}
	.trirec{color:#00C2FF; text-shadow: 0px 0px 10px black;}
	#trifiltre{display: inline-block;
    width: 50px;
    height: 45px;
    padding: 2px;
    margin: 0px;}
	#trifiltre div{display:block;}
	
	#tri h3,#filtrer,#filtre div,#filtresactifs span{cursor:pointer;  display: inline-block;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;}
	#tri {width:300px;}
	#filtre{    width: 500px;}
	#filtre select{display:block;}
	#filtresactifs span{background:#EEEEEE;margin:0px 1px;}
	
	
#titres{display:inline-block;font-size:12px;} 	
#titres h5{font-size:14px;width:inherit;padding: 6px;}
		#onlysemis,#onlyrecolte{}
	#aide{cursor:pointer;}	
	.actif{    color: white;
    text-shadow: 0px 0px 10px black;}
	li{ list-style-type: none;font-size:11px;}

	
#catalogue{}

.normal article{   height: 55px;
    position: relative;
    width: 200%;padding:0px;
    box-shadow: 1px 1px 5px grey;margin:10px 0px;}
	article div,article h6{height: 55px;display:inline-block;     vertical-align: top;cursor:pointer;    box-shadow: 1px 1px 5px;
    }
	article{padding:50px 0px;height:initial;}
	article h6{z-index:30;  position:relative;
   font-size: 13px;
    width: 140px;   }
	article h6 span{display:block;overflow: hidden;text-align:left;}
	article h6 span:nth-child(1){height:34px;}
	.famille{font-size: 11px;font-style: italic;}
	
article section{display:inline-block;}
		article .tools{    width:initial;
    vertical-align: top;}	
 article div{font-family: FontAwesome;position:relative;width:70px;}
	.nom{    overflow: hidden;
    height: 37px;
	}
	article .tools div{display:block;height:initial;    margin-bottom: 4px;
    text-align: center;box-shadow: none;width:initial;}
	article .lesmois{width:initial;opacity:0.3; margin-left: 9px;box-shadow:none;display:block;}
	article .calendar{width:500px;}
	article  span{font-size:15px;display:block;text-align:center;font-family: FontAwesome;}
		article .calendar span{position:absolute;width:40px;}
		article .calendar span span{position:absolute;}
		#catalogue .modedition{width:100%;}
	.modedition span{display:inline;}
	.tools aside{width:150px;text-align:left;}
	.tools aside .calendar{width:initial;}
	.commentaire{font-size:10px;}	
		


.commento{top: 56px;
    position: absolute;
    z-index: 45;
    background: white;
    padding: 2px;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
   text-align:center;width:150%;}
	#mois.commento{text-align:left;width:105%;}
		h3{    text-decoration: underline;}
	#close{font-weight: bold;    top: 0px;
    right: 0px;
			font-size: 20px;
			right: -12px;
			top: -14px;
			text-shadow: 1px 1px 5px black;
			position: absolute;
			background: #5D5D5D;
			border-radius: 20px;
			padding: 0px 5px;}	
	
	.edit{color:#FF00C6;}
	
	.f1,.f6,.f11,.f16,.f21{color:blue;}
	.f2,.f7,.f12,.f17,.f22{color:#006B77;}
	.f3,.f8,.f13,.f18,.f23{color:#00772B;}
	.f4,.f9,.f14,.f19,.f24{color:#6D4405;}
	.f5,.f10,.f15,.f20,.f25{color:#640075;}
	
	
	
	
	
	
			
	
	.modedition div:not(.tiroir){    display: inline-block;
    height:initial;min-height: 50px;
    vertical-align: top;
    width: 103px;
    position: static;
    font-size: 12px;border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 5px;margin:5px;text-align:center;font-family:Raleway;border-radius:5px;}
	.dbfixe .pareil{display:none;}
	.pareil{background:#3BF53B;opacity:0.3;}
	.differe{background:#ff8300;opacity:1;}
	#associe,#antiassocie{ width: 500px;}
	.modedition{    background: floralwhite;}
	.dbfixe{margin-top: 50px;}
	.dbfixe div{background:#F3F3F3;}
	

	
	.modedition input,.modedition select{width:95%;font-size:13px;font-family: FontAwesome;}
	
	label{display:block;font-family:FontAwesome;}
	input.chk{display:inline;width: 20px;z-index:45;}
	.tiroir{display:inline-block;position:static;display:none;    text-align: left;  -webkit-column-count: 3;-moz-column-count: 3;   column-count: 3;   height: 300px;width:490px;
    overflow: scroll;    padding-top: 8px;
  }
	.deroul{    background:white;
    color: white;
    width: 20px;
    border-radius: 20px;}
	.deroul.plus{background:black;}
	.calendardeb,.calendarfin{height: 42px;
	margin-top: -5px;    border-radius: 5px;}
	.calendardeb{    margin-left: 80px;
		border-left: 100px solid rgba(0, 0, 255, 0.1);
		border-right: 120px solid rgba(0,128,0,0.1);
		}
	.calendarfin{ margin-left: 300px; 
		    border-left: 120px solid rgba(255,255,0,0.1);
    border-right: 120px solid rgba(165,42,42,0.1);
		}
	
	#envoi{    font-size: 30px;
    background: #02FF00;
    border-radius: 15px;}
	
	footer{position:fixed; bottom:0px;background:white;font-size:10px;    box-shadow: 1px 1px 5px black;width:100%;text-align:right;    z-index: 50;}
	footer a{font-size:10px;margin:5px;}
	
	
	#edit article{position:static;height:initial;}
	#edit .dbfixe .pareil{display:none;}
	
	label:hover{opacity:0.5;}
	
	.exergue{background:orange;}
	.recap{display:block;}
	
	/*nomlatin,moistaille*/