*{margin:0px;font-family:Raleway;font-size:20px;}
.awsm{font-family: FontAwesome;text-align:center;font-weight: normal;vertical-align: top;}
#mois{padding:2px;position:fixed;top:0px;background:white;border-radius:5px;box-shadow:1px 1px 5px black;z-index:50;}
	h5{width:40px;display:inline-block;    text-align: center;}
		.hiver{border-bottom: 3px solid blue;}
		.ptps{border-bottom: 3px solid green;}
		.ete{border-bottom: 3px solid yellow;}
		.automn{border-bottom: 3px solid brown;}
	
.titres{display:inline-block;} 	
.titres h5{font-size:14px;width:inherit;padding: 6px;}
	
	
#planches{;padding:20px 80px;}
	
#catalogue{position:absolute;left:80px;top:136px;    width:100%;}

article{ padding:10px 0px;height:50px;position:absolute;width:100%;}
	article div,article h6{height: 30px;display:inline-block; cursor:pointer;}
	article h6{z-index:30; position: relative;
    left: -70px;font-size: 14px;
    width: 100px;    overflow: hidden;}
	article div{font-family: FontAwesome;position:absolute;}
	.veg{background: green;z-index:10;height:39px;opacity:0.8;}
	.recolte{background: yellow;z-index:20;height:39px;opacity:0.8;}
	
	.tmin{left:703px;}
	.semis{left: 609px;}
	.emplacement{left: 758px;}
	.caract{  left: 486px;padding:0px 6px;}
	.multi{left:878px;}
	.super{position:relative;top:15px;left:-55px;font-size:12px;}
	.type{    left: 232px;
    z-index: 40;
    background: white;
    padding: 7px 8px 0px 8px;
    border-radius: 23px;
    opacity: 0.8;}
	.racine{left:952px;}
	.autre{left:1000px;}
	
	
	#catalogue span{padding:2px;cursor:pointer;}
	
	footer{position:fixed; bottom:0px;background:white;font-size:10px;    box-shadow: 1px 1px 5px black;}